/*
Thanks to:
http://css-tricks.com/perfect-full-page-background-image

Photo:
http://www.publicdomainpictures.net/view-image.php?image=44399
*/

body { 
  background: url('coffee.mp4') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
padding: 25px;   
}    
